@charset "UTF-8";
header .top {
  background: #585858;
}

header .top .center {
  background: #bbbbbb;
}

header .UnLoginBox li {
  border-right: solid 1px #000000;
}

header .UnLoginBox label {
  background: #ffffff;
  border: none;
  border-radius: 3px;
}

header .UnLoginBox label input {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

header .UnLoginBox label i {
  color: #000000;
  font-size: 14px;
}

header .UnLoginBox .loginBtn {
  background: #ffe1a8;
  border: solid 1px #000000;
  border-radius: 3px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
header .UnLoginBox .loginBtn:hover, header .UnLoginBox .loginBtn:active, header .UnLoginBox .loginBtn.active {
  border-color: #ffffff;
}

header .UnLoginBox .registerBtn {
  background: #54a874;
  border: solid 1px #ffffff;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
header .UnLoginBox .registerBtn:hover, header .UnLoginBox .registerBtn:active, header .UnLoginBox .registerBtn.active {
  border-color: #000000;
}

header .UnLoginBox .registerBtn i {
  color: #ffffff;
  font-size: 14px;
}

header .UnLoginBox .forgetBtn i {
  color: #000000;
  font-size: 16px;
}

header .UnLoginBox .forgetBtn p {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

header .UnLoginBox .lang select {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

header .UnLoginBox .lang i {
  color: #000000;
  font-size: 14px;
}

header .bottom {
  background: #dadada;
}

header .bottom .center {
  background: #818181;
}

header nav li::before {
  background: #ffffff;
}

header nav li a p {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

header .downList {
  background: #c4c4c4;
}

header .downList p {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

header .downList .maintainBox {
  background: rgba(0, 0, 0, 0.6431372549);
}

header .downList .maintainBox p {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

header .downList .maintainBox .title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

header .downList .fa-solid.fa-chevron-left,
header .downList .fa-solid.fa-chevron-right {
  color: #000000;
  font-size: 26px;
}

.swiper .swiper-button-prev i,
.swiper .swiper-button-next i {
  color: #ffffff;
  font-size: 44px;
}

.home .marqueeWrap {
  background: #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 13px 3px #e1e1e1;
          box-shadow: 0 0 13px 3px #e1e1e1;
}

.home .marqueeWrap .title {
  background: -webkit-gradient(linear, left bottom, left top, from(#e1e1e1), color-stop(50%, #979797), to(#f3f3f3));
  background: linear-gradient(to top, #e1e1e1 0%, #979797 50%, #f3f3f3 100%);
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.home .marqueeWrap .marquee p {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.home .typeList .gameBlock p {
  color: #9d9d9d;
  font-size: 26px;
  font-weight: bold;
}

.home .typeList .maintainBox {
  background: rgba(0, 0, 0, 0.6431372549);
}

.home .typeList .maintainBox p {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.home .typeList .maintainBox .title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

footer .top {
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #adadad), color-stop(25%, #e0e0e0), color-stop(43%, #bbbbbb), color-stop(66%, #8f8f8f), color-stop(79%, #e0e0e0), color-stop(99%, #8f8f8f));
  background: linear-gradient(to right, #adadad 8%, #e0e0e0 25%, #bbbbbb 43%, #8f8f8f 66%, #e0e0e0 79%, #8f8f8f 99%);
}

footer .top .center li p {
  color: #565656;
  font-size: 14px;
  font-weight: bold;
}

footer .top .center li:hover a,
footer .top .center li:active a,
footer .top .center li.active a {
  background: radial-gradient(circle, #b3b3b3 -5px, #383838 40px);
}

footer .top .center li:hover p,
footer .top .center li:active p,
footer .top .center li.active p {
  color: #ffffff;
}

footer .top .center .copyright {
  color: #565656;
  font-size: 14px;
  font-weight: bold;
}

footer .bottom {
  background: #8f8f8f;
}

footer .bottom p {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

aside.app {
  background: rgba(255, 255, 255, 0.8470588235);
  border: solid 2px #565656;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
}

aside.app p {
  color: #565656;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}

aside.cs {
  background: #9d9d9d;
  border: solid 2px #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
}

.filter {
  background: rgba(0, 0, 0, 0.6196078431);
}

.filter .jumpWindow {
  background: #ffffff;
  border-radius: 10px;
}

.filter .jumpWindow .title {
  background: -webkit-gradient(linear, left top, right top, from(#5f5f5f), to(#b9b9b9));
  background: linear-gradient(to right, #5f5f5f 0%, #b9b9b9 100%);
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.filter .jumpWindow .title i {
  color: #ffffff;
  font-size: 25px;
}

.filter .jumpWindow .content input {
  background: #ffffff;
  border-radius: 5px;
  border: solid 1px #a3a3a3;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.filter .jumpWindow .btnBox .closeWindow {
  background: -webkit-gradient(linear, left bottom, left top, from(#dddddd), color-stop(50%, #a3a3a3), to(#dddddd));
  background: linear-gradient(to top, #dddddd 0%, #a3a3a3 50%, #dddddd 100%);
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.filter .jumpWindow .btnBox .closeWindow:hover, .filter .jumpWindow .btnBox .closeWindow:active, .filter .jumpWindow .btnBox .closeWindow.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#919191), color-stop(50%, #636262), to(#919191));
  background: linear-gradient(to top, #919191 0%, #636262 50%, #919191 100%);
}

.filter .jumpWindow .btnBox .remind {
  color: #ff0000;
  font-size: 14px;
  font-weight: bold;
}

.filter .jumpWindow.plsLogin .content p {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

header .logo img {
  width: 200px;
  height: 100%;
  background: #000;
  -o-object-fit: contain;
     object-fit: contain;
}

header .downList img {
  width: 220px;
  height: 184px;
  background: #848484;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper .banner {
  width: 100%;
  height: 500px;
  background: #000;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .gameBlock img {
  width: 100%;
  height: 270px;
  background: #acacac;
  -o-object-fit: contain;
     object-fit: contain;
}

aside.app .download_ic {
  width: 25px;
  height: 25px;
  background: url("../img/icon/download.png") no-repeat center;
  background-size: 100%;
}

aside.cs .csBtn_ic {
  width: 30px;
  height: 30px;
  background: url("../img/icon/svg/csBtn.svg") no-repeat center;
  background-size: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-family: "微軟正黑體";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main {
  display: block;
}

html, body {
  width: 100%;
  height: auto;
}

i {
  display: block;
}

a {
  text-decoration: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

img {
  display: block;
}

html body {
  position: relative;
}
html body header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
}
html body header .top,
html body header .bottom {
  width: 100%;
  height: auto;
}
html body header .top .center,
html body header .bottom .center {
  width: 1400px;
  height: 40px;
  margin: 0 auto;
}
html body header .top .center .UnLoginBox,
html body header .bottom .center .UnLoginBox {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
html body header .top .center .UnLoginBox li,
html body header .bottom .center .UnLoginBox li {
  width: auto;
  height: 100%;
}
html body header .top .center .UnLoginBox li form,
html body header .bottom .center .UnLoginBox li form {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}
html body header .top .center .UnLoginBox li form label,
html body header .bottom .center .UnLoginBox li form label {
  width: 150px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  margin-right: 10px;
}
html body header .top .center .UnLoginBox li form label input,
html body header .bottom .center .UnLoginBox li form label input {
  width: 100%;
  height: 100%;
  background: none;
}
html body header .top .center .UnLoginBox li form label i,
html body header .bottom .center .UnLoginBox li form label i {
  margin: 0 5px -2px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body header .top .center .UnLoginBox li form a,
html body header .bottom .center .UnLoginBox li form a {
  width: 70px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}
html body header .top .center .UnLoginBox li form a.registerBtn i,
html body header .bottom .center .UnLoginBox li form a.registerBtn i {
  margin: 0 5px -2px 0;
}
html body header .top .center .UnLoginBox li form a:last-child,
html body header .bottom .center .UnLoginBox li form a:last-child {
  margin: 0;
}
html body header .top .center .UnLoginBox li .forgetBtn,
html body header .bottom .center .UnLoginBox li .forgetBtn {
  width: auto;
  height: 100%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}
html body header .top .center .UnLoginBox li .forgetBtn i,
html body header .bottom .center .UnLoginBox li .forgetBtn i {
  margin: 0 5px -2px 0;
}
html body header .top .center .UnLoginBox li .lang,
html body header .bottom .center .UnLoginBox li .lang {
  width: auto;
  height: 100%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
html body header .top .center .UnLoginBox li .lang select,
html body header .bottom .center .UnLoginBox li .lang select {
  width: auto;
  height: 100%;
  background: none;
  padding: 0 35px 0 20px;
  cursor: pointer;
}
html body header .top .center .UnLoginBox li .lang i,
html body header .bottom .center .UnLoginBox li .lang i {
  position: absolute;
  right: 20px;
}
html body header .top.bottom .center,
html body header .bottom.bottom .center {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html body header .top.bottom .center .logo,
html body header .bottom.bottom .center .logo {
  width: auto;
  height: 100%;
}
html body header .top.bottom .center nav,
html body header .bottom.bottom .center nav {
  width: auto;
  height: 100%;
}
html body header .top.bottom .center nav ul,
html body header .bottom.bottom .center nav ul {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body header .top.bottom .center nav ul li,
html body header .bottom.bottom .center nav ul li {
  width: auto;
  height: 100%;
  position: relative;
}
html body header .top.bottom .center nav ul li::before,
html body header .bottom.bottom .center nav ul li::before {
  display: none;
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}
html body header .top.bottom .center nav ul li:hover::before, html body header .top.bottom .center nav ul li:active::before, html body header .top.bottom .center nav ul li.active::before,
html body header .bottom.bottom .center nav ul li:hover::before,
html body header .bottom.bottom .center nav ul li:active::before,
html body header .bottom.bottom .center nav ul li.active::before {
  display: block;
}
html body header .top.bottom .center nav ul li a,
html body header .bottom.bottom .center nav ul li a {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}
html body header .downList {
  display: none;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 120px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 20;
}
html body header .downList.active {
  display: block;
}
html body header .downList ul {
  width: 1400px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  margin: 0 auto;
}
html body header .downList ul ol {
  display: none;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 20px;
}
html body header .downList ul ol.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
html body header .downList ul ol li {
  width: auto;
  height: auto;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 20px;
}
html body header .downList ul ol li:last-child {
  margin: 0;
}
html body header .downList ul ol li p {
  text-align: center;
  margin-top: 8px;
}
html body header .downList ul ol li .maintainBox {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: not-allowed;
}
html body header .downList ul ol li .maintainBox p {
  text-align: center;
}
html body header .downList ul ol li .maintainBox p.title {
  margin-bottom: 30px;
}
html body header .downList ul .fa-solid.fa-chevron-left,
html body header .downList ul .fa-solid.fa-chevron-right {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  pointer-events: none;
  opacity: 0.2;
}
html body header .downList ul .fa-solid.fa-chevron-left.active,
html body header .downList ul .fa-solid.fa-chevron-right.active {
  pointer-events: visible;
  opacity: 1;
}
html body .mainWrap {
  width: 100%;
  height: auto;
}
html body .mainWrap .center {
  width: 1400px;
  height: auto;
  margin: 0 auto;
}
html body .mainWrap .center .marqueeWrap {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}
html body .mainWrap .center .marqueeWrap .title {
  width: 160px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body .mainWrap .center .marqueeWrap .marquee {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
html body .mainWrap .center .marqueeWrap .marquee p {
  display: inline-block;
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
  white-space: nowrap;
  padding-left: 100%;
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}
html body .mainWrap .center .typeList {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 20px;
  padding: 60px 0;
}
html body .mainWrap .center .typeList .gameBlock {
  width: 100%;
  height: auto;
  position: relative;
  cursor: pointer;
}
html body .mainWrap .center .typeList .gameBlock p {
  text-align: center;
  margin-top: 15px;
}
html body .mainWrap .center .typeList .gameBlock .maintainBox {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: not-allowed;
}
html body .mainWrap .center .typeList .gameBlock .maintainBox p {
  text-align: center;
}
html body .mainWrap .center .typeList .gameBlock .maintainBox p.title {
  margin-bottom: 30px;
}
html body .swiper {
  width: 100%;
  margin-bottom: 10px;
}
html body .swiper .swiper-wrapper {
  width: 100%;
  height: auto;
  max-height: 500px;
}
html body .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: auto;
}
html body .swiper .swiper-button-prev,
html body .swiper .swiper-button-next {
  width: 285px;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;
}
html body .swiper .swiper-button-prev:hover i, html body .swiper .swiper-button-prev:active i, html body .swiper .swiper-button-prev.active i,
html body .swiper .swiper-button-next:hover i,
html body .swiper .swiper-button-next:active i,
html body .swiper .swiper-button-next.active i {
  opacity: 1;
}
html body .swiper .swiper-button-prev::before, html body .swiper .swiper-button-prev::after,
html body .swiper .swiper-button-next::before,
html body .swiper .swiper-button-next::after {
  content: "";
}
html body .swiper .swiper-button-prev i,
html body .swiper .swiper-button-next i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.5;
}
html body .swiper .swiper-button-prev {
  left: 0;
}
html body .swiper .swiper-button-next {
  right: 0;
}
html body footer {
  width: 100%;
  height: auto;
}
html body footer .top {
  width: auto;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html body footer .top .center {
  width: 1400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
html body footer .top .center ul {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body footer .top .center ul li {
  width: 95px;
  height: 100%;
  margin-right: 20px;
}
html body footer .top .center ul li a {
  width: 100%;
  height: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 15px;
}
html body footer .top .center ul li a p {
  text-align: center;
  white-space: nowrap;
}
html body footer .bottom {
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body footer .bottom p {
  width: 1400px;
  text-align: center;
  line-height: 30px;
  margin: 0 auto;
}
html body aside {
  position: fixed;
  top: 185px;
  z-index: 40;
  cursor: pointer;
}
html body aside.app {
  width: 55px;
  height: 189px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 10px;
}
html body aside.app i {
  margin-bottom: 15px;
}
html body aside.app p {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}
html body aside.cs {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 10px;
}
html body .filter {
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
html body .filter.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body .filter .jumpWindow {
  display: none;
  min-width: 480px;
  height: auto;
  overflow: hidden;
}
html body .filter .jumpWindow.display {
  display: block;
}
html body .filter .jumpWindow.fgPW .content {
  height: 80px;
}
html body .filter .jumpWindow.fgPW .content input {
  text-align: center;
}
html body .filter .jumpWindow.plsLogin .content {
  height: 80px;
}
html body .filter .jumpWindow .title {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
html body .filter .jumpWindow .title i {
  position: absolute;
  right: 15px;
  cursor: pointer;
}
html body .filter .jumpWindow .content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .filter .jumpWindow .content input {
  width: 280px;
  height: 42px;
}
html body .filter .jumpWindow .btnBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}
html body .filter .jumpWindow .btnBox button {
  display: block;
  width: 280px;
  height: 42px;
  margin: 0 auto;
}
html body .filter .jumpWindow .btnBox .remind {
  margin-top: 20px;
}
html body main {
  width: 100%;
  height: auto;
  padding-top: 120px;
}
html body .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}