aside {
    position: fixed;
    top: 185px;
    z-index: 40;
    cursor: pointer;

    &.app {
        width: 55px;
        height: 189px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 10px;

        i {
            margin-bottom: 15px;
        }

        p {
            writing-mode: vertical-lr;
        }
    }

    &.cs {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 10px;
    }

    &.colorSelector {
        width: auto;
        height: auto;
        background: rgb(240, 240, 240);
        box-shadow:  0 5px 10px -5px rgba(0, 0, 0, 0.4);
        top: unset;
        bottom: 10px;
        right: 8px; 

        &.active {

            .hint {
                padding: 15px 15px 0 15px;

                i {
                    margin-right: 10px;
                }

                p {
                    display: block;
                }
            }

            form {
                display: block;
            }
        }

        .hint {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            padding: 15px 15px 15px 15px;

            i {
                font-size: 25px;
                color: var(--mainColor);
            }

            p {
                display: none;
                color: $Font_color_3;
                font-size: 15px;
                font-weight: bold;
            }
        }

        .bigTitle {
            color: rgb(15, 11, 59);
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;

            i {
                font-size: 14px;
            }
        }
        
        form {
            width: 100%;
            height: auto;
            display: none;
            margin-top: 10px;
            padding: 0 15px 15px 15px;

            div {
                width: 100%;
                height: 26px;
                overflow: hidden;

                &.active {
                    height: auto;

                    &>p {

                        &.type {
                            background: #000000;
                            color: #ffffff;
                        }

                        i {
                            transform: rotate(180deg);
                        }
                    }
                }

                &.preset {
                    margin-bottom: 10px;
                }

                &.custom {
                    padding-bottom: 10px;

                    div {
                        cursor: pointer;
                    }
                }

                p {
                    color: rgb(116, 116, 116);
                    font-size: 14px;
                    font-weight: bold;

                    &.type {
                        width: 100%;
                        height: auto;
                        background: #ffffff;
                        text-align: center;
                        padding: 5px 0;
                        margin: 5px 0;

                        &.child {
                            background: #646464;
                            color: #ffffff;
                        }

                        i {
                            font-size: 13px;
                        }
                    }

                    span {
                        color: blue;
                    }
                }
            }

            label {
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 5px;

                &.forQ {
                    height: auto;
                }

                p {
                    width: 97px;
                    color: $Font_color_2;
                    font-size: 14px;
                    font-weight: bold;
                    flex-shrink: 0;
                    margin-right: 10px;
                    white-space: nowrap;
                }

                .colorBlock {
                    width: 100%;
                    height: 30px;
                    background: #ffffff;
                    display: flex;
                    align-items: center;

                    &.quick {
                        height: auto;
                        background: transparent;
                        margin: 10px 0;

                        ul {
                            width: 100%;
                            height: auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            li {
                                width: 35px;
                                height: auto;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                
                                .quickBtn {
                                    width: 100%;
                                    height: 35px;
                                    background: $linear_1;
                                    border-radius: 50px;
                                    border: 1px solid $Border_color_4;

                                    &:hover,&:active,&.active {
                                        background: var(--mainColor);

                                        a {

                                            p {
                                                color: #ffffff;
                                            }
                                        }
                                    }

                                    a {
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        p {
                                            color: $mainColor_subD;
                                            text-align: center;
                                            margin: 0;
                                        }
                                    }
                                }

                                .btnName {
                                    text-align: center;
                                    margin: 5px 0 0 0;
                                }
                            }
                        }
                    }

                    input {
                        width: 30px;
                        height: 100%;
                        background: none;
                        border: none;
                    }

                    .changeHex {
                        width: auto;
                        color: #000000;
                        margin-left: 5px;
                    }
                }

                button {
                    width: 100%;
                    height: 25px;
                }
            }

            .submitSetting {
                width: auto;
                height: auto;
                display: flex;
                background: #ffffff;
                padding: 5px 10px;
                margin: 0 auto;
            }
        }
    }
}