$BG_color_1: #c4a167;
$BG_color_2: #ffffff;

$Font_color_1: #ffffff;
$Font_color_2: #000000;
$Font_color_3: #686868;
$Font_color_4: $BG_color_1;
$Font_Title_1: #996c33;
$Font_Title_1_Active: #dcb160;
$Font_remind: #ff0000;
$Font_negative: $Font_remind;
$Font_positive: #32b411;
$Font_accent: #008599;

$Border_color_0: #ffffff;
$Border_color_1: #cccccc;
$Border_color_2: #c7a16e;
$Border_color_3: #996c33;

$boxShadow_1: #e1e1e1;
$boxShadow_2: #00000066;

$filter_1: #000000a4;

$linear_1: linear-gradient(to top, #fae0af 0%, #d7b676 50%, #f8fbc0 100%);
$linear_1_Active: linear-gradient(to top, #f1d7b7 0%, #cca172 50%, #f1c999 100%);
$linear_2: linear-gradient(to right, #de9649 0%, #e0cb89 100%);
$BankCard_BG: linear-gradient(120deg, #f1d7b7 0%, #cca172 50%, #f1c999 100%);

//header
header .top {
    background: $BG_color_1;
}
header .top li { //個別調整
    border-right: solid 1px #7a746a;
    box-shadow: 1px 1px 0.5px #ffffff;
}
header .UnLoginBox label { //個別調整
    background: #ffffff;
    border: none;
    border-radius: 3px;
}
header .UnLoginBox label input {
    color: $Font_color_2;
    font-size: 14px;
    font-weight: bold;
}
header .UnLoginBox label i {
    color: $Font_color_2;
    font-size: 14px;
}
header .UnLoginBox .loginBtn { //個別調整
    background: #ffe1a8;
    border: solid 1px #000000;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;

    &:hover,&:active,&.active {
        border-color: #ffffff;
    }
}
header .UnLoginBox .registerBtn { //個別調整
    background: #54a874;
    border: solid 1px #ffffff;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;

    &:hover,&:active,&.active {
        border-color: #000000;
    }
}
header .UnLoginBox .registerBtn i { //個別調整
    color: #ffffff;
    font-size: 14px;
}
header .UnLoginBox .forgetBtn i {
    color: $Font_color_1;
    font-size: 16px;
}
header .UnLoginBox .forgetBtn p {
    color: $Font_color_1;
    font-size: 14px;
    font-weight: bold;
}
header ul li label.lang select {
    color: $Font_color_1;
    font-size: 14px;
    font-weight: bold;
}
header ul li label.lang select option { //個別調整
    color: #000000;
}
header ul li label.lang i {
    color: $Font_color_1;
    font-size: 12px;
}
header .loginBox>li:nth-of-type(3), 
header .loginBox>li:nth-of-type(4), 
header .loginBox>li:nth-of-type(5), 
header .loginBox>li:nth-of-type(6), 
header .loginBox>li:nth-of-type(7), 
header .loginBox>li:nth-of-type(8) { //個別調整
    
    &:hover,&:active,&.active {
        background: #5d4614;
    }
}
header .loginBox .userName { //個別調整
    color: #777777;
    font-size: 16px;
    font-weight: bold;

    span {
        color: #008599;
    }
}
header .loginBox li a {
    color: $Font_color_1;
    font-size: 14px;
    font-weight: bold;
}
header .loginBox li:not(:first-child) p {
    color: $Font_color_1;
}
header .loginBox>li.total p { //個別調整
    color: #d7f722cc;
}
header .loginBox>li.total i { //個別調整
    color: #d7f722cc;
    font-size: 12px;
}
header .loginBox .transferInfo  { //個別調整
    background: #ecdabc;
    border: 1px solid #bb9645;
}
header .loginBox .transferInfo li:not(:last-of-type) { //個別調整
    border-bottom: 1px solid #bb9645;
}
header .loginBox .transferInfo li p { //個別調整
    color: #000000;
    font-size: 14px;
}
header .loginBox .transferInfo li p.money { //個別調整
    color: #bd0b0b;
    font-size: 14px;
    font-weight: bold;
}
header .bottom {
    background: $BG_color_2;
}
header nav li::before {
    background: $Border_color_2;
}
header nav li a p {
    color: $Font_Title_1;
    font-size: 18px;
    font-weight: bold;
}
header nav li:hover a p,
header nav li:active a p,
header nav li.active a p {
    color: $Font_Title_1_Active;
}
header .downList {
    background: $BG_color_2;
    border-top: solid 1px $Border_color_1;
}
header .downList p {
    color: $Font_color_2;
    font-size: 14px;
    font-weight: bold;
}
header .downList .maintainBox {
    background: $filter_1;
}
header .downList .maintainBox p { //個別調整 //常駐
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
header .downList .maintainBox .title { //個別調整 //常駐
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
header .downList .fa-solid.fa-chevron-left,
header .downList .fa-solid.fa-chevron-right { //個別調整 //常駐
    color: #000000;
    font-size: 26px;
}

//swiper
.swiper .swiper-button-prev i,
.swiper .swiper-button-next i { //個別調整 //常駐
    color: #ffffff;
    font-size: 44px;
}

//home
.home .typeList .gameBlock p {
    color: $Font_Title_1;
    font-size: 26px;
    font-weight: bold;
}
.home .typeList .maintainBox {
    background: $filter_1;
}
.home .typeList .maintainBox p { //個別調整 //常駐
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
.home .typeList .maintainBox .title { //個別調整 //常駐
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

//innerPage
main.innerPage { //個別調整
    background: #f4f4f4;
}
main.innerPage .center>div>div:not(.listTitle),
main.innerPage .center>div>nav { 
    background: $BG_color_2;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px $boxShadow_2;
}
main.innerPage .center .leftSide p.userAccount {
    color: $Font_color_2;
    font-size: 14px;
    font-weight: bold;
}
main.innerPage .center .leftSide p.userAccount .level { //個別調整
    background: #cfb53d;
    border-radius: 5px;
    color: $Font_color_1;
    font-size: 14px;
    font-weight: bold;
}
main.innerPage .center .leftSide p.joinDay {
    font-size: 14px;
    color: $Font_color_3;
    font-weight: bold;
}
main.innerPage .center .leftSide .quickSelect li .quickBtn { //個別調整
    background: $linear_1;
    border-radius: 50px;
    border: 1px solid $Border_color_2;
}
main.innerPage .center .leftSide .quickSelect li .quickBtn,
main.innerPage .center .leftSide .quickSelect li .quickBtn,
main.innerPage .center .leftSide .quickSelect li .quickBtn { //個別調整

    &:hover,&:active,&.active {
        background: $BG_color_1;
        border-radius: 50px;
    }
}
main.innerPage .center .leftSide .quickSelect li .quickBtn p {
    color: $Font_Title_1;
    font-size: 18px;
    font-weight: bold;
}
main.innerPage .center .leftSide .quickSelect li .quickBtn:hover p,
main.innerPage .center .leftSide .quickSelect li .quickBtn:active p,
main.innerPage .center .leftSide .quickSelect li .quickBtn.active p {
    color: $Font_color_1;
}
main.innerPage .center .leftSide .quickSelect li .btnName {
    color: $Font_color_2;
    font-size: 14px;
    font-weight: bold;
}
main.innerPage .center .leftSide .innerNav {
    border-top: 1px solid $Border_color_1;
}
main.innerPage .center .leftSide .innerNav li:nth-of-type(4), 
main.innerPage .center .leftSide .innerNav li:nth-of-type(9) {
    border-top: 1px solid $Border_color_1;
}
main.innerPage .center .leftSide .innerNav li a p {
    color: $Font_color_2;
    font-size: 14px;
    font-weight: bold;
}
main.innerPage .center .leftSide .innerNav li a i {
    color: $Font_color_4;
    font-size: 14px;
}
main.innerPage .center .leftSide .innerNav li a i.fa-regular.fa-credit-card {
    font-size: 13px;
}
main.innerPage .center .leftSide .innerNav li a i.fa-regular.fa-file-lines,
main.innerPage .center .leftSide .innerNav li a i.fa-regular.fa-mobile-screen-button {
    font-size: 15px;
}
main.innerPage .center .leftSide .content .innerNav li:hover a,
main.innerPage .center .leftSide .content .innerNav li:active a,
main.innerPage .center .leftSide .content .innerNav li.active a { //個別調整
    background: #fae8c1;

    &::before {
        background: #a28653;
    }
}
main.innerPage .center .leftSide .innerNav li:hover a i,
main.innerPage .center .leftSide .innerNav li:active a i,
main.innerPage .center .leftSide .innerNav li.active a i {
    color: $Font_Title_1;
}
main.innerPage .center .leftSide .innerNav li:hover a p,
main.innerPage .center .leftSide .innerNav li:active a p,
main.innerPage .center .leftSide .innerNav li.active a p {
    color: $Font_Title_1;
}
main.innerPage .center .leftSide .innerNav li:hover a::before,
main.innerPage .center .leftSide .innerNav li:active a::before,
main.innerPage .center .leftSide .innerNav li.active a::before {
    background: $Font_Title_1;
}

//innerPage 右欄
main.innerPage .center .rightSide .listTitle {
    background: $BG_color_2;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid $Border_color_1;
}
main.innerPage .center .rightSide .listTitle> p {
    color: $Font_color_2;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
main.innerPage .center .rightSide .listTitle a.more {
    color: $Font_color_2;
    font-size: 14px;
    letter-spacing: 1px;
}
main.innerPage .center .rightSide .listTitle a.more i {
    color: $Font_color_4;
    font-size: 16px;
    letter-spacing: 1px;
}
main.innerPage .center .rightSide .recordList .noData {
    color: $Font_color_3;
    font-size: 16px;
    font-weight: bold;
}
main.innerPage .center .rightSide .recordList li {
    border-bottom: 1px solid $Border_color_1;
}
main.innerPage .center .rightSide .recordList li .state {
    color: $Font_Title_1;
    font-size: 14px;
}
main.innerPage .center .rightSide .recordList li .state span {
    color: $Font_color_2;
    font-size: 15px;
}
main.innerPage .center .rightSide .recordList li .state.gameName {
    font-size: 15px;
    font-weight: bold;
}
main.innerPage .center .rightSide .recordList li .detail {
    color: $Font_color_2;
    font-size: 14px;
}
main.innerPage .center .rightSide .recordList li .detail i {
    color: $Font_color_4;
    font-size: 14px;
}
main.innerPage .center .rightSide .recordList li .winLose .half {
    color: $Font_color_2;
    font-size: 15px;
}
main.innerPage .center .rightSide .recordList li .winLose .half.win {
    color: $Font_positive;
}
main.innerPage .center .rightSide .recordList li .winLose .half.lose {
    color: $Font_negative;
}
main.innerPage .center .rightSide .recordList li .winLose .half span {
    color: $Font_color_3;
    font-size: 13px;
    letter-spacing: 1px;
}
main.innerPage .center .rightSide .recordList li.eventBlock .eventInfo {
    color: $Font_color_2;
    font-size: 14px;
    line-height: 18px;
}

//innerPage 中欄
main.innerPage .center .midSide .midTop,
main.innerPage .center .midSide .midBottom { 
    background: $BG_color_2;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px $boxShadow_2;
}
main.innerPage .center .midSide .midTop .innerPageTitle {
    border-bottom: 1px solid $Border_color_1;
}
main.innerPage .center .midSide .midTop .innerPageTitle>p {
    color: $Font_color_2;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
}
main.innerPage .center .midSide .midTop .objectList>i {
    color: $Font_color_4;
    font-size: 16px;
    cursor: pointer;
}
main.innerPage .center .midSide .midTop .objectList ul li.payWay {
    background: transparent;
    border: 1px solid $Border_color_1;
    border-radius: 5px;
    color: $Font_color_2;
    font-size: 14px;
    font-weight: bold;
}
main.innerPage .center .midSide .midTop .objectList ul li.payWay {
    
    &:hover,&:active,&.active {
        background: $linear_2;
        color: $Font_color_1;
    }
}
main.innerPage .center .midSide .midBottom p.titleM {
    color: $Font_color_2;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 3px;
}
main.innerPage .center .midSide .midBottom .remindBox {
    border: 1px solid $Border_color_2;
}
main.innerPage .center .midSide .midBottom .remindBox p.remindTitle {
    color: $Font_Title_1;
    font-size: 13px;
    font-weight: bold;
}
main.innerPage .center .midSide .midBottom form label p.itemName {
    width: 81px;
    color: $Font_color_2;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}
main.innerPage .center .midSide .midBottom form label p.itemName span {
    color: $Font_remind;
    font-size: 16px;
    font-weight: bold;
}
main.innerPage .center .midSide .midBottom form label p.remind {
    color: $Font_remind;
    font-size: 12px;
    white-space: nowrap;
}
main.innerPage .center .midSide .midBottom form label i {
    color: $Font_color_4;
    font-size: 14px;
}
main.innerPage .center .midSide .midBottom form button.submit{
    width: 72%;
    height: 40px;
    font-size: 15px;
}

//bankCard
main.innerPage .center .midSide .midTop .objectList .cardWrap p.title {
    color: $Font_color_2;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
}
main.innerPage .center .midSide .midTop .objectList .cardWrap .cardNum {
    color: $Font_color_3;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
}
main.innerPage .center .midSide .midTop .objectList li p.hint {
    width: 100%;
    text-align: center;
}

//transfer + withdraw 公用
main.innerPage .center .midSide .midTop .accountWrap {
    border-bottom: 1px solid $Border_color_1;
}
main.innerPage .center .midSide .midTop .titleS {
    color: $Font_color_2;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}
main.innerPage .center .midSide .midTop .accountWrap .typeBox .typeName p {
    color: $Font_color_2;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}
main.innerPage .center .midSide .midTop .accountWrap .typeBox:nth-of-type(1) .typeName p {
    color: $Font_Title_1;
}
main.innerPage .center .midSide .midTop .accountWrap .typeBox:nth-of-type(1) .typeName i {
    color: $Font_color_3;
}
main.innerPage .center .midSide .midTop .accountWrap .typeBox .numTotal {
    color: $Font_color_2;
    font-size: 30px;
    font-weight: bold;
}
main.innerPage .center .midSide .midTop .platformWallet .platformBox {
    border: 1px solid $Border_color_1;
    border-radius: 5px;
}
main.innerPage .center .midSide .midTop .platformWallet .platformBox p.platName {
    color: $Font_color_3;
    font-size: 16px;
}
main.innerPage .center .midSide .midTop .platformWallet .platformBox .num {
    color: $Font_color_2;
    font-size: 25px;
    font-weight: bold;
}
main.innerPage .center .midSide .midTop .platformWallet .stateWrap p {
    color: $Font_color_2;
    font-size: 14px;
}
main.innerPage .center .midSide .midTop .platformWallet .stateWrap i {
    color: $Font_color_4;
    font-size: 14px;
}

//transfer
main.innerPage .center .midSide.transfer .midTop .platformWallet {
    border-bottom: 1px solid $Border_color_1;
}
main.innerPage .center .midSide.transfer .midTop .platTransfer .titleS span {
    color: $Font_remind;
    font-size: 12px;
}

//withdraw
main.innerPage .center .midSide.withdraw .midTop .accountWrap .typeBox:nth-of-type(2) .typeName p {
    color: $Font_remind;
}
main.innerPage .center .midSide.withdraw .midTop .accountWrap .typeBox:nth-of-type(2) .typeName span {
    font-size: 12px;
}
main.innerPage .center .midSide.withdraw .midBottom .limited li {
    border: 1px solid $Border_color_1;
    border-radius: 5px;
}
main.innerPage .center .midSide.withdraw .midBottom .limited li p {
    color: $Font_color_3;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
main.innerPage .center .midSide.withdraw .midBottom .limited li p.rule {
    color: $Font_Title_1;
    font-size: 35px;
    font-family: sans-serif;
}
main.innerPage .center .midSide.withdraw .midBottom .limited li span {
    width: 100%;
    display: block;
    color: $Font_color_3;
    font-size: 14px;
    font-weight: unset;
    text-align: center;
    letter-spacing: 2px;
}

//footer
footer .top {
    background: $BG_color_1;
}
footer .top .center li p {
    color: $Font_color_1;
    font-size: 14px;
    font-weight: bold;
}
footer .top .center li:hover a,
footer .top .center li:active a,
footer .top .center li.active a { //個別調整
    background: radial-gradient(circle,  #fdeeadb0 -5px , #6d502b 40px);
}
footer .top .center .copyright {
    color: $Font_color_1;
    font-size: 14px;
    font-weight: bold;
}
footer .bottom {
    background: $BG_color_2;
}
footer .bottom p {
    color: $Font_color_2;
    font-size: 14px;
    font-weight: bold;
}

//aside
aside.app { //個別調整
    background: #ffffffd8;
    border: solid 2px $Border_color_2;
    border-radius: 50px;
    box-shadow: 0 0 7px 0 $boxShadow_1;

    &:hover,&:active,&.active {
        background: #ffffff;
    }
}
aside.app p { //個別調整
    color: $Font_color_4;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}
aside.app:hover p,
aside.app:active p,
aside.app.active p { //個別調整
    color: #000000;
}
aside.cs { //個別調整
    background: #9d9d9d;
    border: solid 2px #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 7px 0 $boxShadow_1;
}

//filter
.filter {
    background: $filter_1;
}
.filter .jumpWindow {
    background: $BG_color_2;
    border-radius: 10px;
}
.filter .jumpWindow .title {
    background: $linear_2;
    color: $Font_color_1;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.filter .jumpWindow .title i {
    color: $Font_color_1;
    font-size: 25px;
}
.filter .jumpWindow .btnBox .remind {
    color: $Font_remind;
    font-size: 14px;
    font-weight: bold;
}
.filter .jumpWindow.plsLogin .content p {
    color: $Font_color_2;
    font-size: 16px;
    font-weight: bold;
}
.filter .jumpWindow.news .content li {
    border-bottom: solid 1px $Border_color_1;
}
.filter .jumpWindow.news li button {
    background: none;
    color: $Font_color_2;
    font-size: 16px;
    font-weight: bold;

    &:hover,&:active,&.active {
        color: $Font_Title_1_Active;
    }
}
.filter .jumpWindow.news li button::before {
    background: $Border_color_1;
}
.filter .jumpWindow.news li button::after {
    background: $Border_color_2;
}
.filter .jumpWindow.news li .text {
    color: $Font_color_2;
    font-size: 16px;
    font-weight: bold;
}
.filter .jumpWindow.news li .date {
    color: $Font_color_3;
    font-size: 12px;
    font-weight: bold;
}
.filter .jumpWindow.reminder .content p {
    color: $Font_color_2;
    font-size: 16px;
    font-weight: bold;
}

//marquee 跑馬燈
@mixin marqueeStyle {
    background: $BG_color_2;
    border-radius: 50px;
    box-shadow: 0 0 13px 3px $boxShadow_1;
    display: flex;
    padding: 5px;
    margin: 20px auto;

    .title {
        width: 160px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        background: $linear_1;
        border-radius: 50px;
        color: $Font_color_1;
        font-size: 16px;
        font-weight: bold;
    }

    .marquee {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;

        p {
            display: inline-block;
            animation: marquee 10s linear infinite;
            white-space: nowrap;
            color: $Font_color_2;
            font-size: 14px;
            font-weight: bold;
            padding-left: 100%;
        }

        @keyframes marquee {
            0% {
                transform: translate(0%);
            }

            100% {
                transform: translate(-100%);
            }
        }
    }
}

//銀行卡樣式
@mixin cardStyle { //個別調整
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    background: $BankCard_BG;
    border-radius: 5px;
    border: 1px solid $Border_color_0;
    box-shadow: 0 2px 5px 2px $boxShadow_1;
    position: relative;

    &.addCard {
        justify-content: center;
        filter: grayscale(1);
        cursor: pointer;

        .addBtn {
            margin: 0 auto 20px;
        }
    }

    p {
        color: $Font_color_1;
        font-size: 14px;
        font-weight: bold;

        &.bankName {
            font-size: 22px;
            letter-spacing: 1px;

            span {
                display: block;
                font-size: 14px;
                margin-top: 10px;
            }
        }

        &.acNum {
            font-size: 18px;
            letter-spacing: 2px;
            margin: 30px 0 5px;
        }
    }

    .state {
        width: 98%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $BG_color_2;
        border-radius:  0 0 5px 5px;

        p {
            background: $BankCard_BG;
            background-clip: text;
            color: transparent;
            font-size: 17px;
            font-weight: bold;
        }
    }
}

//按鈕
.btnStyle_1 { //按鈕樣式_1
    background: $linear_1;
    border: 1px solid $Border_color_1;
    border-radius: 5px;
    color: $Font_color_1;
    font-size: 16px;
    font-weight: bold;

    &:hover,&:active,&.active {
        background: $linear_1_Active;
    }

    &:disabled { //個別調整
        background: #c0c0c0;
    }
}
.btnStyle_2 { //按鈕樣式_2 主色邊線按鈕
    background: transparent;
    border: 1px solid $Border_color_3;
    border-radius: 5px;
    color: $Font_Title_1;

    &:hover,&:active,&.active {
        background: $Border_color_3;
        color: $Font_color_1;
    }
}

//input select
.inputStyle_1 { //input樣式_1 
    background: none;
    border-radius: 5px;
    border: solid 1px $Border_color_1;
    color: $Font_color_2;
    font-size: 14px;
    font-weight: bold;

    &:disabled { //個別調整
        background: #efefef;
        color: #686868;
    }
}

* {

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #848484;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
        background: #cccccc;
    }
}