//header
header .top {
    background: #585858;
}
header .top .center {
    background: #bbbbbb;
}
header .UnLoginBox li {
    border-right: solid 1px #000000;
}
header .UnLoginBox label {
    background: #ffffff;
    border: none;
    border-radius: 3px;
}
header .UnLoginBox label input {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
header .UnLoginBox label i {
    color: #000000;
    font-size: 14px;
}
header .UnLoginBox .loginBtn {
    background: #ffe1a8;
    border: solid 1px #000000;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;

    &:hover,&:active,&.active {
        border-color: #ffffff;
    }
}
header .UnLoginBox .registerBtn {
    background: #54a874;
    border: solid 1px #ffffff;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;

    &:hover,&:active,&.active {
        border-color: #000000;
    }
}
header .UnLoginBox .registerBtn i {
    color: #ffffff;
    font-size: 14px;
}
header .UnLoginBox .forgetBtn i {
    color: #000000;
    font-size: 16px;
}
header .UnLoginBox .forgetBtn p {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
header .UnLoginBox .lang select {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
header .UnLoginBox .lang i {
    color: #000000;
    font-size: 14px;
}
header .bottom {
    background: #dadada;
}
header .bottom .center {
    background: #818181;
}
header nav li::before {
    background: #ffffff;
}
header nav li a p {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
header .downList {
    background: #c4c4c4;
}
header .downList p {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
header .downList .maintainBox {
    background: #000000a4;
}
header .downList .maintainBox p {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
header .downList .maintainBox .title {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
header .downList .fa-solid.fa-chevron-left,
header .downList .fa-solid.fa-chevron-right {
    color: #000000;
    font-size: 26px;
}

//swiper
.swiper .swiper-button-prev i,
.swiper .swiper-button-next i {
    color: #ffffff;
    font-size: 44px;
}

//home
.home .marqueeWrap {
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 0 0 13px 3px #e1e1e1;
}
.home .marqueeWrap .title {
    background: linear-gradient(to top, #e1e1e1 0%, #979797 50%, #f3f3f3 100%);
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
.home .marqueeWrap .marquee p {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
.home .typeList .gameBlock p {
    color: #9d9d9d;
    font-size: 26px;
    font-weight: bold;
}
.home .typeList .maintainBox {
    background: #000000a4;
}
.home .typeList .maintainBox p {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
.home .typeList .maintainBox .title {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

//footer
footer .top {
    background: linear-gradient(to right, #adadad 8%, #e0e0e0 25%, #bbbbbb 43%, #8f8f8f 66%, #e0e0e0 79%, #8f8f8f 99%);
}
footer .top .center li p {
    color: #565656;
    font-size: 14px;
    font-weight: bold;
}
footer .top .center li:hover a,
footer .top .center li:active a,
footer .top .center li.active a {
    background: radial-gradient(circle,  #b3b3b3 -5px , #383838 40px);
}
footer .top .center li:hover p,
footer .top .center li:active p,
footer .top .center li.active p {
    color: #ffffff;
}
footer .top .center .copyright {
    color: #565656;
    font-size: 14px;
    font-weight: bold;
}
footer .bottom {
    background: #8f8f8f;
}
footer .bottom p {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

//aside
aside.app {
    background: #ffffffd8;
    border: solid 2px #565656;
    border-radius: 50px;
    box-shadow: 0 0 7px 0 #00000066;
}
aside.app p {
    color: #565656;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}
aside.cs {
    background: #9d9d9d;
    border: solid 2px #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 7px 0 #00000066;
}

//filter
.filter {
    background: #0000009e;
}
.filter .jumpWindow {
    background: #ffffff;
    border-radius: 10px;
}
.filter .jumpWindow .title {
    background: linear-gradient(to right, #5f5f5f 0%, #b9b9b9 100%);;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.filter .jumpWindow .title i {
    color: #ffffff;
    font-size: 25px;
}
.filter .jumpWindow .content input {
    background: #ffffff;
    border-radius: 5px;
    border: solid 1px #a3a3a3;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
.filter .jumpWindow .btnBox .closeWindow {
    background: linear-gradient(to top, #dddddd 0%, #a3a3a3 50%, #dddddd 100%);
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;

    &:hover,&:active,&.active {
        background: linear-gradient(to top, #919191 0%, #636262 50%, #919191 100%);
    }
}
.filter .jumpWindow .btnBox .remind {
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
}
.filter .jumpWindow.plsLogin .content p {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}