//bg
bg {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

//header
header .logo img {
    width: 200px;
    height: 100%;
    background: #000000;
    object-fit: contain;
}
header .downList img {
    width: 220px;
    height: 184px;
    background: #848484;
    object-fit: contain;
}

//swiper
.swiper .banner {
    width: 100%;
    height: 500px;
    background: #000000;
    object-fit: contain;
}

//home
.home .gameBlock img {
    width: 100%;
    height: 270px;
    background: #acacac;
    object-fit: contain;
}

//aside
aside.app .download_ic {
    width: 25px;
    height: 25px;
    background: url("../img/icon/download.png") no-repeat center;
    background-size: 100%;
}
aside.cs .csBtn_ic {
    width: 30px;
    height: 30px;
    background: url("../img/icon/svg/csBtn.svg") no-repeat center;
    background-size: 100%;
}