.innerPage {

    .marqueeWrap {
        width: 1400px;
        height: 50px;
        @include marqueeStyle;
    }
    
    .center {
        width: 1400px;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 0 40px;
        margin: 0 auto;

        &>div {
            height: auto;

            &.leftSide {
                width: 30%;
                margin-right: 15px;

                p {
                    text-align: center;
                    user-select: none;

                    &.userAccount {
                        margin: 20px auto 0;

                        .level {
                            padding: 2px 8px;
                            margin-left: 5px;
                        }
                    }

                    &.joinDay {
                        margin-top: 10px;
                    }
                }

                .quickSelect {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 25px;

                    li {
                        width: 32%;
                        height: auto;

                        .quickBtn {
                            width: 42px;
                            height: 42px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0 auto;
                            transition: all 0.4s;
                            cursor: pointer;
                        }

                        .btnName {
                            text-align: center;
                            margin-top: 5px;
                        }
                    }
                }

                .innerNav {
                    width: 100%;
                    height: auto;

                    li {
                        width: 100%;
                        height: 50px;
                        display: block;

                        a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            background: none;
                            padding: 0 40px;
                            position: relative;

                            &::before {
                                content: "";
                                width: 4px;
                                height: 100%;
                                background: transparent;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }

                            i {
                                width: 20px;
                                height: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

            &.midSide {
                width: 100%;
                margin: 0 ;
            }

            &.rightSide {
                width: 30%;
                height: auto;
                margin-left: 15px;

                .recordList {
                    width: 100%;
                    min-height: 365px;
                    height: auto;

                    .listTitle {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 20px;

                        .more {
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            i {
                                margin-left: 5px;
                            }
                        }
                    }

                    li {
                        width: 85%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        padding: 15px 0;
                        margin: 0 20px;

                        .state {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-shrink: 0;
                            line-height: 25px;
                        }

                        .detail {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin-top: 5px;

                            i {
                                margin: 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}