.innerPage {

    .marqueeWrap {
        width: 1400px;
        height: 50px;
        @include marqueeStyle;
    }
    
    .center {
        width: 1400px;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 0 0 40px;
        margin: 0 auto;

        &>div {
            height: auto;

            //左欄
            &.leftSide {
                width: 245px;
                flex-shrink: 0;
                margin-right: 15px;

                .content {
                    width: 100%;
                    padding: 20px 0 0 0;

                    p {
                        text-align: center;
                        user-select: none;

                        &.userAccount {

                            .level {
                                padding: 2px 8px;
                                margin-left: 5px;
                            }
                        }

                        &.joinDay {
                            margin-top: 10px;
                        }
                    }

                    .quickSelect {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 25px;

                        li {
                            width: 32%;
                            height: auto;

                            .quickBtn {
                                width: 42px;
                                height: 42px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0 auto;
                                transition: all 0.4s;
                                cursor: pointer;
                            }

                            .btnName {
                                text-align: center;
                                margin-top: 5px;
                            }
                        }
                    }

                    .innerNav {
                        width: 100%;
                        height: auto;

                        li {
                            width: 100%;
                            height: 50px;
                            display: block;

                            a {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                background: transparent;
                                padding: 0 40px;
                                position: relative;

                                &::before {
                                    content: "";
                                    width: 4px;
                                    height: 100%;
                                    background: transparent;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }

                                i {
                                    width: 20px;
                                    height: 20px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }

            //右欄
            &.rightSide {
                width: 245px;
                flex-shrink: 0;
                margin-left: 15px;

                .recordList {
                    width: 100%;
                    height: 365px;
                    position: relative;

                    .listTitle {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 20px;

                        .more {
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            i {
                                margin-left: 5px;
                            }
                        }
                    }

                    .contain {
                        width: 100%;
                        height: auto;
                        

                        .noData {
                            color: $Font_color_3;
                            font-size: 16px;
                            font-weight: bold;
                            text-align: center;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        
                        li {
                            width: 85%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            padding: 15px 0;
                            margin: 0 20px;

                            .state {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                flex-shrink: 0;
                                line-height: 25px;
                            }

                            .detail {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                margin-top: 5px;

                                i {
                                    margin: 0 10px;
                                }
                            }
                        }
                    }

                }
            }
            

            //中欄
            &.midSide {
                width: 100%;
                display: flex;
                flex-direction: column;

                .midTop {
                    width: 100%;
                    height: auto;
                    margin-bottom: 15px;

                    .innerPageTitle {
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 20px;

                        .btn {
                            width: auto;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 10px;
                            cursor: pointer;

                            p {
                                font-size: 14px;
                                margin: 0 0 2px 5px;
                            }

                            i {
                                font-size: 15px;
                            }
                        }
                    }

                    .objectList {
                        width: 100%;
                        height: auto;
                        padding: 10px 15px;

                        ul {
                            width: 100%;
                            height: auto;
                            display: flex;
                            align-items: center;
                            padding: 0 25px;
                            position: relative;

                            i {
                                width: 20px;
                                height: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                &.fa-chevron-left,
                                &.fa-chevron-right {
                                    cursor: pointer;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }

                                &.fa-chevron-left {
                                    left: 0%;
                                }

                                &.fa-chevron-right {
                                    right: 0%;
                                }
                            }

                            li {
                                width: auto;
                                height: auto;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 0 15px;

                                &.payWay {
                                    height: 35px;
                                    margin-right: 10px;
                                    cursor: pointer;

                                    &:last-child {
                                        margin: 0;
                                    }
                                }

                                .pay_Icon {
                                    width: 30px;
                                    height: 30px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }

                .midBottom {
                    width: 100%;
                    height: 100%;
                    padding: 10px 20px;

                    form {
                        width: 100%;
                        height: auto;

                        label {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .remindBox {
                        width: 100%;
                        height: auto;
                        padding: 15px 25px;
                    }
                }
                
                //存款
                // &.deposit {


                // }
            }

        }
    }
}