.innerPage {

    .marqueeWrap {
        width: 1400px;
        height: 50px;
        @include marqueeStyle;
    }
    
    .center {
        width: 1400px;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 0 0 40px;
        margin: 0 auto;

        &>div {
            height: auto;

            //左欄
            &.leftSide {
                width: 245px;
                flex-shrink: 0;
                margin-right: 15px;

                .content {
                    width: 100%;
                    padding: 20px 0 0 0;

                    p {
                        text-align: center;
                        user-select: none;

                        &.userAccount {

                            .level {
                                padding: 2px 8px;
                                margin-left: 5px;
                            }
                        }

                        &.joinDay {
                            margin-top: 10px;
                        }
                    }

                    .quickSelect {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 25px;

                        li {
                            width: 32%;
                            height: auto;

                            .quickBtn {
                                width: 42px;
                                height: 42px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0 auto;
                                transition: all 0.4s;
                                cursor: pointer;
                            }

                            .btnName {
                                text-align: center;
                                margin-top: 5px;
                            }
                        }
                    }

                    .innerNav {
                        width: 100%;
                        height: auto;

                        li {
                            width: 100%;
                            height: 50px;
                            display: block;

                            a {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                background: transparent;
                                padding: 0 25px;
                                position: relative;

                                &::before {
                                    content: "";
                                    width: 4px;
                                    height: 100%;
                                    background: transparent;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }

                                i {
                                    width: 20px;
                                    height: 20px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }

            //右欄
            &.rightSide {
                width: 245px;
                flex-shrink: 0;
                margin-left: 15px;

                .listTitle {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 20px;

                    .more {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        i {
                            margin-left: 5px;
                        }
                    }
                }

                .recordList {
                    width: 100%;
                    height: 365px;
                    overflow: auto;
                    position: relative;

                    .noData {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    .contain {
                        width: 100%;
                        height: auto;
                        overflow-y: overlay;
                        
                        li {
                            width: 85%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            padding: 15px 0;
                            margin: 0 20px;

                            &.betHistory {
                                width: 100%;
                                padding: 10px 20px;
                                margin: 0;
                            }

                            .state {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                flex-shrink: 0;
                            }

                            .detail {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                margin-top: 5px;

                                i {
                                    margin: 0 10px;
                                }
                            }

                            .winLose {
                                width: 100%;
                                height: auto;
                                display: flex;
                                align-items: center;
                                margin-top: 10px;

                                .half {
                                    width: 50%;
                                    height: auto;

                                    span {
                                        display: block;
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            //中欄
            &.midSide {
                width: 100%;
                display: flex;
                flex-direction: column;

                .midTop {
                    width: 100%;
                    height: auto;
                    margin-bottom: 15px;

                    .innerPageTitle {
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 20px;

                        .btn {
                            width: auto;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 10px;
                            cursor: pointer;

                            p {
                                font-size: 14px;
                                margin: 0 0 2px 5px;
                            }

                            i {
                                font-size: 15px;
                            }
                        }
                    }

                    .objectList {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        padding: 10px 15px;

                        i {
                            width: 20px;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &.fa-chevron-left,
                            &.fa-chevron-right {
                                cursor: pointer;
                            }
                        }

                        ul {
                            width: 100%;
                            height: auto;
                            display: flex;
                            align-items: center;
                            padding: 0 25px;
                            position: relative;
                           
                            li {
                                width: auto;
                                height: auto;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 0 15px;
                            }
                        }
                    }
                }

                .midBottom {
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    position: relative;

                    .content {
                        display: none;
                        width: 100%;
                        height: 100%;

                        &.display {
                            display: block;
                        }

                        .titleM {
                            margin: 0 0 20px 0;
                        }
    
                        form {
                            width: 100%;
                            height: auto;
    
                            label {
                                width: 100%;
                                height: auto;
                                display: flex;
                                align-items: center;
                                margin-bottom: 30px;
                                position: relative;
    
                                .itemName {
                                    margin-right: 25px;
                                    flex-shrink: 0;
                                }
    
                                select,
                                input {
                                    width: 100%;
                                    height: 40px;
                                    padding: 0 15px;
                                }
    
                                .remind {
                                    position: absolute;
                                    bottom: -16px;
                                    left: 105px;
                                }
    
                                i {
                                    width: 13px;
                                    height: 13px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    position: absolute;
                                    top: 45%;
                                    right: 18px;
                                    transform: translateY(-50%);
                                }
                            }
    
                            button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                
                                &.submit {
                                    margin: 55px 0 0 105px;
                                }
                            }
                        }
    
                        .remindBox {
                            width: 95%;
                            height: auto;
                            padding: 15px 20px;
                            position: absolute;
                            bottom: 20px;
                            left: 50%;
                            transform: translateX(-50%);
    
                            p {
                                color: $Font_color_2;
                                font-size: 13px;
                                line-height: 25px;
    
                                &.remindTitle {
                                    line-height: unset;
                                    margin-bottom: 10px;
                                }
    
                                span {
                                    color: $Font_remind;
                                }
                            }
                            
                        }
                    }
                }
                
                //存款
                &.deposit {

                    .midTop {

                        .objectList {

                            .payType {

                                li {

                                    &.payWay {
                                        height: 35px;
                                        margin-right: 10px;
                                        cursor: pointer;
    
                                        &:last-child {
                                            margin: 0;
                                        }
                                    }
    
                                    .pay_Icon {
                                        width: 30px;
                                        height: 30px;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }

                    .midBottom {

                        form {
                            width: 45%;
                        }
                    }
                }

                //綁定銀行卡
                &.bankCard {

                    .midTop {

                        .objectList {
                            padding: 20px 20px;
                            position: relative;

                                .cardWrap {
                                    width: 96%;
                                    height: auto;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    position: absolute;
                                    top: 15px;
                                    left: 50%;
                                    transform: translateX(-50%);

                                    .cardNum {
                                        display: flex;
                                        align-items: center;
                                    }
                                }

                            .cardSet {
                                padding: 30px 20px;

                                li {
                                    width: 250px;
                                    height: 150px;
                                    padding: 15px;
                                    margin-right: 15px;
                                    @include cardStyle;

                                    &:nth-last-child(1) {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }

                    .midBottom {

                        form {
                            width: 45%;
                        }
                    }
                }
            }
        }
    }
}