.filter {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &.display {
        display: flex;
    }

    .jumpWindow {
        display: none;
        min-width: 480px;
        height: auto;
        overflow: hidden;

        &.display {
            display: block;
        }

        //忘記密碼
        &.fgPW {

            .content {
                height: 80px;

                input {
                    text-align: center;
                }
            }
        }

        //請先登入
        &.plsLogin {

            .content {
                height: 80px;
            }
        }

        //最新消息
        &.news {

            .content {
                
                ul {
                    width: 840px;
                    height: 300px;
                    overflow-y: overlay;
                    padding: 15px;

                    ol {
                        display: none;
                        width: 100%;
                        height: auto;

                        &.display {
                            display: block;
                        }
                    }

                    li {
                        width: 100%;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &.typeList {
                            justify-content: flex-start;

                            button {
                                width: auto;
                                height: 100%;
                                position: relative;
                                padding: 0 40px;
    
                                &:hover,&:active,&.active {
    
                                    &::after {
                                        display: block;
                                    }
                                }
    
                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 1px;
                                    height: 16px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 0;
                                }
    
                                &::after {
                                    display: none;
                                    content: "";
                                    position: absolute;
                                    width: 100%;
                                    height: 3px;
                                    left: 0;
                                    bottom: 0;
                                }
                            }
                        }

                        .text {
                            max-width: 80%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
        
        .title {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            i {
                position: absolute;
                right: 15px;
                cursor: pointer;
            }
        }

        .content {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input {
                width: 280px;
                height: 42px;
            }
        }

        .btnBox {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 30px;

            button {
                display: block;
                width: 280px;
                height: 42px;
                margin: 0 auto;
            }

            .remind {
                margin-top: 20px;
            }
        }
    }
}