.filter {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &.display {
        display: flex;
    }

    .jumpWindow {
        display: none;
        min-width: 480px;
        height: auto;
        overflow: hidden;

        &.display {
            display: block;
        }

        //忘記密碼
        &.fgPW {

            .content {
                height: 80px;

                input {
                    text-align: center;
                }
            }
        }

        //請先登入
        &.plsLogin {

            .content {
                height: 80px;
            }
        }
        
        .title {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            i {
                position: absolute;
                right: 15px;
                cursor: pointer;
            }
        }

        .content {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input {
                width: 280px;
                height: 42px;
            }
        }

        .btnBox {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 30px;

            button {
                display: block;
                width: 280px;
                height: 42px;
                margin: 0 auto;
            }

            .remind {
                margin-top: 20px;
            }
        }
    }
}